
.badge-store {
  margin-left: 25vw;
  max-width: 15vw;
}

.badge-store ul {
  list-style-type: none;
  border: 1px solid #E5E5E5;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.badge-store input[type=submit] {
  padding: 10px 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #515F90;
  font-family: 'Patua One', cursive;
}

.badge-store input[type=submit]:hover {
  background-color: #162756;
}

.badge-store input[type=submit]:active {
  background-color: #595594;
  transform: translateY(2px);
}
